[Desktop Entry]
Name=Crafty
Comment=Superior chess program
Comment[pl]=Jeden z lepszych programów szachowych
Icon=xchess
Exec=crafty
Terminal=true
Type=Application
Categories=Game;BoardGame;
# vi: encoding=utf-8
